.button{
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #835afd;
    padding: 0 32px;
    color: #fff;
    cursor: pointer;
    border: 0;
    width: 300px;
    transition: 0.2s;
}

.button:not(:disabled):hover{
    filter: brightness(0.7);
}

.button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

/* #imgGoogle{
    margin-right: 8px;
} */